# Ignorar archivos del entorno virtual
venv/
*.pyc

# Ignorar archivos de configuración
.env

# Ignorar archivos de configuración de Vercel
.vercel

# Ignorar otros archivos innecesarios
.DS_Store
.env.development.local